Click==7.0
cycler==0.10.0
docutils==0.14
Flask==1.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.16.4
opencv-python==4.1.0.25
Pillow==8.2.0
pyparsing==2.4.0
python-dateutil==2.8.0
s3transfer==0.2.1
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
gunicorn==19.9.0
uWSGI==2.0.18