<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='main.css')}}" />
</head>
<body>
    <canvas id="myCanvas" style="border:2px solid black" ></canvas>
    <div id="coords"></div>
    <div>
        <button onclick="clearLastPoint()">CLEAR</button>
        <button onclick="submit()">SUBMIT</button>
    </div>
    <img src="" id="img__results">
    <script>
        var img = new Image()
        let img_url = '{{image_url}}'
        img.src = '{{image_url}}';
    </script>
    <script src="{{url_for('static',filename='main.js')}}"></script>
</body>
</html>